
@if (ViewData["Success"] != null)
{
<div class="alert alert-success notification ">
  
    @ViewData["Success"]
</div>
}

@if (ViewData["Warning"] != null)
{
    <div class="alert alert-warning notification ">
        @ViewData["Warning"]
    </div>
}


@if (ViewData["error"] != null)
{
    <div class="alert alert-danger notification ">
        @ViewData["Error"]
    </div>
}